header {
    display:flex;
    background-color:#eee6da;
    border-radius: 15px;
    margin: 30px;
    justify-content: center;
    align-items: row;
    height: auto;
    flex-wrap:wrap;
    border: #ab8f80 5px solid;
    flex-direction: column;
}
header img {
    border-radius:25%;
    width: 150px;
    align-self:center;
    
}
header h1 {
    font-size: 40px;
    color:#625549;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1px;
    padding:1px;
    align-self:center;
    display:inline-block;

}
nav  {
    flex-direction:column;
    flex-wrap:wrap;
    align-self:center;



}
nav ul {
    margin: 5px;
    padding: 10px;
    list-style-type: none;
}
nav ul li {
    padding: 5px;

}
nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color:#625549;
    font-size: 25px;
    text-decoration: none;
    line-height: inherit;
    padding: 2px;
    margin: 2px;

}
nav a:hover {
    color: #ab8f80;
}
body {
    background-color: white;
}
#about-me {
    display:flex;
    flex-direction:row;
    justify-content:center;
    border-radius:15px;
    height:auto;
    flex-wrap:wrap;
    
}
.about-me h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #625549;
    font-size: 35px;
   border-bottom: #625549 3px solid;
    align-self:center;
    padding: 20px;
}
.about-me p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    flex-direction:row;
    flex-wrap:wrap;
    color:#625549;
    align-self:center;
    flex-wrap:wrap;
    padding: 20px;
}
.run-buddy-img  {
    position: relative;
    height: auto;
    margin-left:auto;
    margin-right: auto;
    width: 250px;
    border-radius: 25%;
   
}
.run-buddy-img img {
    height:auto;
    width:250px;
    border-radius: 25%;
}
.run-buddy-title {
    position: absolute;
    top: 93px;
    left:50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #eee6da;
    
}

.disabled {
    display:flex;
    flex-direction: row;
    justify-content:space-between;


}
.disabled img {
    height: 100px;
    width:125px;
    border-radius: 25%;
    margin: 2px;
}



#my-work {
    display:flex;
    background-color: #625549;
    margin: 20px;
    flex-direction:row;
    justify-content:center;
    border-radius:15px;
    height: auto;
    flex-wrap:wrap;
    border-radius: 15px;
    
}
.my-work h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #eee6da;
    font-size: 35px;
   border-bottom: #eee6da 3px solid;
    align-self:center;
    padding: 20px;
}

#contact-me {
    display:flex;
    flex-direction: column;
    justify-content:center;

    border-radius:15px;
    
    flex-wrap: wrap;
    margin: 25px;

    
}
.contact-me h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: #625549;
    font-size: 35px;
   border-bottom: #625549 3px solid;
    align-self:center;
    padding: 20px;
}
.contact-me ul {
    background-color:#625549;
    border-radius: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self:center;
    flex-wrap:wrap;
}
.contact-me ul li {
    display:inline-block;
    color:#eee6da;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    line-height: 1px;
    padding: 10px;
    margin: 10px;
}
.contact-me ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color:#eee6da;
    font-size: 15px;
    text-decoration: none;
    line-height: 1px;
    padding: 5px;
    margin: 5px;
}
.contact-me a:hover {
    color:#ab8f80;
}
main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

}
/* Media Queries */
@media screen and (min-width:768px) {
    header {
        display:flex;
        background-color:#eee6da;
        border-radius: 15px;
        margin: 0px;
        padding: 5px;
        justify-content: space-between;
        align-items: row;
        height: auto;
        flex-wrap:wrap;
        border: #ab8f80 5px solid;
        flex-direction: row;
    }
    header img {
        border-radius:25%;
        width: 150px;
        align-self:center;
        order: 1;
        
    }
    header h1 {
        font-size: 45px;
        color:#625549;
        font-family: Arial, Helvetica, sans-serif;
        margin: 1px;
        padding:1px;
        align-self:flex-end;
        display:inline-block;
        order:2 ;
    
    }
    nav  {
        flex-direction:column;
        flex-wrap:wrap;
        align-self:center;
        order: 3;
    
    
    }
    nav ul {
        margin: 5px;
        padding: 10px;
        list-style-type: none;
    }
    nav ul li {
        padding: 5px;
    
    }
    nav ul li a {
        font-family: Arial, Helvetica, sans-serif;
        color:#625549;
        font-size: 30px;
        text-decoration: none;
        line-height: inherit;
        padding: 2px;
        margin: 2px;
        
    
    }
    nav a:hover {
        color: #ab8f80;
    }
    body {
        background-color: white;
    }
    #about-me {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        border-radius:15px;
        height:auto;
        flex-wrap:wrap;
        
    }
    .about-me h2 {
        font-family:Arial, Helvetica, sans-serif;
        color: #625549;
        font-size: 45px;
       border-bottom: #625549 3px solid;
        align-self:center;
        padding: 20px;
    }
    .about-me p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        flex-direction:row;
        flex-wrap:wrap;
        color:#625549;
        align-self:center;
        flex-wrap:wrap;
        padding: 20px;
    }
    .run-buddy-img  {
        position: relative;
        height: auto;
        margin-left:auto;
        margin-right: auto;
        width: 250px;
        border-radius: 25%;
       
    }
    .run-buddy-img img {
        height:auto;
        width:250px;
        border-radius: 25%;
    }
    .run-buddy-title {
        position: absolute;
        top: 93px;
        left:50px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color: #eee6da;
        
    }
    
    .disabled {
        display:flex;
        flex-direction: row;
        justify-content:center;
        padding-bottom: 8px;
    
    
    }
    .disabled img {
        height: 100px;
        width:125px;
        border-radius: 25%;
        margin: 2px;
    }
    
    
    
    #my-work {
        display:flex;
        background-color: #625549;
        margin: 20px;
        flex-direction:column;
        justify-content:center;
        border-radius:15px;
        height: auto;
        flex-wrap:wrap;
        border-radius: 15px;
        padding: 0px;
        
    }
    .my-work h2 {
        font-family:Arial, Helvetica, sans-serif;
        color: #eee6da;
        font-size: 45px;
       border-bottom: #eee6da 3px solid;
        align-self:center;
        padding: 20px;
    }
    
    #contact-me {
        display:flex;
        flex-direction: column;
        justify-content:center;
    
        border-radius:15px;
        
        flex-wrap: wrap;
        margin: 25px;
    
        
    }
    .contact-me h2 {
        font-family:Arial, Helvetica, sans-serif;
        color: #625549;
        font-size: 45px;
       border-bottom: #625549 3px solid;
        align-self:center;
        padding: 20px;
    }
    .contact-me ul {
        background-color:#625549;
        border-radius: 15px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        align-self:center;
        flex-wrap:wrap;
    }
    .contact-me ul li {
        display:inline-block;
        color:#eee6da;
        font-family: Arial, Helvetica, sans-serif;
        font-size:22px;
        line-height: 1px;
        padding: 10px;
        margin: 10px;
    }
    .contact-me ul li a {
        font-family: Arial, Helvetica, sans-serif;
        color:#eee6da;
        font-size: 20px;
        text-decoration: none;
        line-height: 1px;
        padding: 5px;
        margin: 5px;
    }
    .contact-me a:hover {
        color:#ab8f80;
    }
    main {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
    
    }
}
@media screen and (min-width:980px) {
        header {
            display:flex;
            background-color:#eee6da;
            border-radius: 15px;
            margin: 0px;
            padding: 5px;
            justify-content: space-between;
            align-items: row;
            height: auto;
            flex-wrap:wrap;
            border: #ab8f80 5px solid;
            flex-direction: row;
        }
        header img {
            border-radius:25%;
            width: 150px;
            align-self:center;
            
        }
        header h1 {
            font-size: 45px;
            color:#625549;
            font-family: Arial, Helvetica, sans-serif;
            margin: 1px;
            padding:1px;
            align-self:flex-end;
            display:inline-block;
        
        }
        nav  {
            flex-direction:column;
            flex-wrap:wrap;
            align-self:center;
        
        
        
        }
        nav ul {
            margin: 5px;
            padding: 10px;
            list-style-type: none;
        }
        nav ul li {
            padding: 5px;
        
        }
        nav ul li a {
            font-family: Arial, Helvetica, sans-serif;
            color:#625549;
            font-size: 30px;
            text-decoration: none;
            line-height: inherit;
            padding: 2px;
            margin: 2px;
            
        
        }
        nav a:hover {
            color: #ab8f80;
        }
        body {
            background-color: white;
        }
        #about-me {
            display:flex;
            flex-direction:column;
            justify-content:space-between;
            border-radius:15px;
            height:auto;
            flex-wrap:wrap;
            
        }
        .about-me h2 {
            font-family:Arial, Helvetica, sans-serif;
            color: #625549;
            font-size: 45px;
           border-bottom: #625549 3px solid;
            align-self:center;
            padding: 20px;
        }
        .about-me p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            flex-direction:row;
            flex-wrap:wrap;
            color:#625549;
            align-self:center;
            flex-wrap:wrap;
            padding: 20px;
        }
        .run-buddy-img  {
            position: relative;
            height: auto;
            margin-left:auto;
            margin-right: auto;
            width: 250px;
            border-radius: 25%;
           
        }
        .run-buddy-img img {
            height:auto;
            width:250px;
            border-radius: 25%;
        }
        .run-buddy-title {
            position: absolute;
            top: 93px;
            left:50px;
            font-family: Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            color: #eee6da;
            
        }
        
        .disabled {
            display:flex;
            flex-direction: row;
            justify-content:center;
            padding-bottom: 8px;
        
        
        }
        .disabled img {
            height: 100px;
            width:125px;
            border-radius: 25%;
            margin: 2px;
        }
        
        
        
        #my-work {
            display:flex;
            background-color: #625549;
            margin: 20px;
            flex-direction:column;
            justify-content:center;
            border-radius:15px;
            height: auto;
            flex-wrap:wrap;
            border-radius: 15px;
            padding: 0px;
            
        }
        .my-work h2 {
            font-family:Arial, Helvetica, sans-serif;
            color: #eee6da;
            font-size: 45px;
           border-bottom: #eee6da 3px solid;
            align-self:center;
            padding: 20px;
        }
        
        #contact-me {
            display:flex;
            flex-direction: column;
            justify-content:center;
        
            border-radius:15px;
            
            flex-wrap: wrap;
            margin: 25px;
        
            
        }
        .contact-me h2 {
            font-family:Arial, Helvetica, sans-serif;
            color: #625549;
            font-size: 45px;
           border-bottom: #625549 3px solid;
            align-self:center;
            padding: 20px;
        }
        .contact-me ul {
            background-color:#625549;
            border-radius: 15px;
            margin: 0;
            padding: 0;
            list-style-type: none;
            align-self:center;
            flex-wrap:wrap;
        }
        .contact-me ul li {
            display:inline-block;
            color:#eee6da;
            font-family: Arial, Helvetica, sans-serif;
            font-size:22px;
            line-height: 1px;
            padding: 10px;
            margin: 10px;
        }
        .contact-me ul li a {
            font-family: Arial, Helvetica, sans-serif;
            color:#eee6da;
            font-size: 20px;
            text-decoration: none;
            line-height: 1px;
            padding: 5px;
            margin: 5px;
        }
        .contact-me a:hover {
            color:#ab8f80;
        }
        main {
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
        
        }
    }