header {
    display:flex;
    justify-content: center;
    align-items: row;
    background-image: url("../images/galaxy-bg.jpg");
    height: auto;
    flex-wrap:wrap;
}
header img {
    border-radius:25%;
    height: 100px;
    width: 100px;
}
header h1 {
    font-size: 42px;
    color:#E31C79;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: flex-end;
    margin: 1px;
    padding:1px;

}
nav  {
    flex-direction:column;
    flex-wrap:wrap;
    



}
nav ul {
    margin: 5px;
    padding: 10px;
    list-style-type: none;
}
nav ul li {
    padding: 5px;

}
nav ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#E31C79;
    font-size: 20px;
    text-decoration: none;
    line-height: 1px;
    padding: 2px;
    margin: 2px;

}
nav a:hover {
    color: white;
}
body {
    background-color: black;
}
#about-me {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: white;
    border-radius:15px;
    height:auto;
    flex-wrap:wrap;
}
.about-me h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 42px;
    text-decoration: underline dotted #E31C79;
    align-self:center;
    
}
.about-me p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    flex-direction:row;
    flex-wrap:wrap;
    color:#E31C79;
    align-self:center;
    flex-wrap:wrap;
}
#my-work {
    display:flex;
    justify-content:space-between;
    background-color: white;
    border-radius:30px;
    height: 150px;
    border-top: 25px;
    flex-wrap:wrap;

}
.my-work h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 35px;
    text-decoration: underline dotted #E31C79;
    align-self:center;
}
#contact-me {
    display:flex;
    justify-content:space-around;
    background-color: white;
    border-radius:30px;
    height: 150px;
    width: 100%;
    border-top: 25px;
    flex-wrap: wrap;

    
}
.contact-me h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 35px;
    text-decoration: underline dotted #E31C79;
    align-self:center;
}
.contact-me ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-self:center;
    flex-wrap:wrap;
}
.contact-me ul li {
    display:inline-block;
    color:#E31C79;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    line-height: 1px;
    padding: 10px;
    margin: 10px;
}
.contact-me ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#E31C79;
    font-size: 20px;
    text-decoration: none;
    line-height: 1px;
    padding: 5px;
    margin: 5px;
}
.contact-me a:hover {
    color:black;
}
main {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;

}